
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family:'Ubuntu', sans-serif;
    
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 50px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 70vh;
    display: flex;
    margin: 23px auto;
    font-family: 'ubuntu', sans-serif;
    width: 70%;
    border-radius: 15px;
    background: black;
    color: white;
    background-image: url('bg.jpg');
    padding: 34px;
}
.songItemContainer{
    margin-top: 74px;
}
.songItem{
    height: 50px;
    width: 500px;
    display: flex;
    margin: 12px 0;
    justify-content: space-between;
    background-color: white;
    color: black;
    border-radius: 34px;
    align-items: center;
}
.songItem img{
    height: 45px;
    border-radius: 50%;
    padding: 5px;
}
.songItem i{
    cursor: pointer;
}
.timestamp{
    padding-right: 20px;

}
.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}
.icons{
    margin-top: 14px;   
}
.icons i{
    cursor: pointer;
    padding: 10px;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

